/*~~~~~~~~~~~~~~~~~~~ featured-business ~~~~~~~~~~~~~~~~~~~~~~~~*/
.featured-business {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;
}
.featured-business-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  /* padding: 10px; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.featured-business-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 2rem;
}

/* .featured-business-text h2 {
  margin: 2rem 0 1rem;
} */
.featured-business-text p {
  padding: 0 0rem 10px;
  margin: 0;
  color: #2f2d2d;
}

.featured-business-card {
  display: flex;
  /* flex: 0 0 calc(25% - 15px); */
  flex: 1;
  flex-direction: column;
  padding: 20px 25px;
  /* align-items: center; */
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 4px #888888;
  transition: transform 0.3s ease;
  background-color: #fff;
  border-left: 4px solid rgba(0, 0, 0, 0);
}
/* Remove right margin from the last card */
.featured-business-card:last-child {
  margin-right: 0;
}

/* Remove right margin from all last children */
/* .featured-business-card:not(:last-child) {
  margin-right: 0;
} */
/* CSS for the card on hover */
.featured-business-card:hover {
  /* transform: translateY(3px); */
  border-left: solid 4px rgb(0, 255, 128);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.featured-business-card .header {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: top; */
}

.header-details {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}
.header-details .business-title {
  padding-bottom: 10px;
  font-size: 16px;
}
.header-details .row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.business-category {
  padding: 5px;
  background-color: #ddd7d7;
  border-radius: 5px;
}
.row3 {
  display: flex;
}
.featured-business-card .header img {
  width: 150px;
  border-radius: 10px;
}
.featured-business-card .header h5 {
  margin: 0 0 0 1rem;
}

.business-description {
  margin: 10px 0;
  flex-grow: 4;
  line-height: 20px;
}

.see-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* align-content: flex-end; */
}
.see-more a {
  display: flex;
  font-size: 1rem;
  padding: 5px 10px;
  border: solid 2px#68beff;
  /* background-color: #7dc5fb46; */
  color: #205cd4;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  /* margin: 10px 0; */
}
.see-more .arrow {
  padding-left: 5px;
  transition: transform 0.3s ease;
}
.see-more a:hover {
  background-color: #1b96f446;

  .arrow {
    transform: translateX(3px);
  }
}
.view-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/* 
.featured-business-card {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  flex: 1;
  max-width: 150px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.card-details {
  flex: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.business-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.business-category {
  color: #666;
  margin-top: 4px;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 8px;
  .star {
    color: #ffcc00;
    font-size: 1.2rem;
    margin-right: 4px;
  }
  .rating-value {
    font-size: 1rem;
    font-weight: bold;
  }
}

.business-location {
  color: #333;
  margin-top: 8px;
}

.business-description {
  color: #666;
  margin-top: 8px;
  font-size: 0.9rem;
} */
