@import "variables.css";

.footer-container {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1.5rem;
}
