/* variables.css */

/* Primary Colors */
:root {
  --primary-deep-blue: #0058a2;
  --primary-orange: #a73121;
}

/* Secondary Colors */
:root {
  --secondary-light-blue: #7fa5d3;
  --secondary-gray: #808080;
  --secondary-green: #6abd45;
  --secondary-yellow: #ffd700;
  --secondary-orange: #ff8362;
}

/* Neutral Colors */
:root {
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --neutral-yellow: #fcfbf3;
}

:root {
  --primary: #011627;
  --accent: #2ec4b6;
  --primary-button-blue: #205cd4;
}
:root {
  --primary-background-color: var(--neutral-white);
  --secondary-background-color: var(--secondary-orange);
}
/* App colors */
:root {
  --primary-color: var(--secondary-green);
  --secondary-color: #011627;
  --third-color: var(--secondary-gray);
}
